﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

@model FricFrac.Models.FricFrac.Country


    <div class="control-panel">
        <a href="/Home/Index" class="tile">
            <i class="fas fa-bars"></i>
            <span class="screen-reader-text">Home</span>
        </a>
        <h1>Fric-frac</h1>
    </div>

<form class="show-room entity" action="/Counry/Index" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Country</h2>
            <a href="/Country/UpdatingOne/@Model.Id" class="tile">
                <i class="fas fa-wrench"></i>
                <i class="screen-reader-text">Updating One</i>
            </a>
            <a href="/Country/InsertingOne" class="tile">
                <i class="fas fa-plus-circle"></i>
                <i class="screen-reader-text">Inserting One</i>
            </a>
            <a href="/Country/DeleteOne/@Model.Id" class="tile">
                <i class="fas fa-trash-alt"></i>
                <i class="screen-reader-text">Delete One</i>
            </a>
            <a href="/Country/Cancel" class="tile">
                <i class="fas fa-backspace"></i>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>


        <fieldset>
            <div>
                <label for="Country-Id"> ID:  </label>
                <span> @Model.Id</span>
            </div>
            <div>
                <label for="Country-Name">Naam: </label>
                <span> @Model.Name </span>
            </div>
            <div>
                <label for="Country-Code">Code: </label>
                <span> @Model.Code</span>
            </div>

            <div>
                <label for="Country-Desc">Desc: </label>
                <span>@Model.Desc</span>
            </div>


        </fieldset>



        <div class="feedback"></div>
    </div>

    <aside class="list">
        <table></table>
    </aside>
</form>