﻿@model FricFrac.Models.FricFrac.Country
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
    <nav class="control-panel">
        <a href="/Home/Index" class="tile">
            <i class="fas fa-bars"></i>
            <span class="screen-reader-text">Home</span>
        </a>
        <h1 class="banner">Fric-frac</h1>

    </nav> 


<form class="show-room entity" action="/Country/UpdateOne" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Country</h2>

            <button type="submit" class="tile">
                <h3>Update One</h3>  
            </button>

            <a href="/Country/Cancel" class="tile">
                <i class="fas fa-backspace"></i>
                <i class="screen-reader-text">Annuleren</i>
            </a>
        </div>
        <fieldset>
            <input type="hidden" id="Country-Id" name="Country-Id" value="@Model.Id" />
            <div>
                <label for="Country-Name">Naam</label>
                <input id="Country-Name" name="Country-Name" type="text" value="@Model.Name" required />
            </div>
            <div>
                <label for="Country-Code">Code</label>
                <input id="Country-Code" name="Country-Code" type="text" value="@Model.Code" required />
            </div>
            <div>
                <label for="Country-Desc">Desc</label>
                <textarea id="Country-Desc" name="Country-Desc">@Model.Desc</textarea>
            </div>





        </fieldset>


        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>