﻿@model FricFrac.Models.FricFrac.Event
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
    <nav class="control-panel">
        <a href="/Home/Index" class="tile">
            <i class="fas fa-bars"></i>
            <span class="screen-reader-text">Home</span>
        </a>
        <h1>Fric-frac</h1>
    </nav>
<form class="show-room entity" action="/Event/UpdateOne" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Event</h2>

            <button type="submit" class="tile">
                <h3>Update One</h3>
            </button>

            <a href="/Event/Cancel" class="tile">
                <i class="fas fa-backspace"></i>
                <i class="screen-reader-text">Annuleren</i>
            </a>
        </div>
        <fieldset>
            <div>
                <input type="hidden" id="Event-Id" name="Event-Id" value="@Model.Id" />

            </div>

            <div>
                <label for="Event-Name">Name:</label>
                <input id="Event-Name" name="Event-Name" type="text" value="@Model.Name" required />
            </div>
            <div>
                <label for="Event-Location">Location:</label>
                <input id="Event-Location" name="Event-Location" type="text" value="@Model.Location" required />
            </div>
            <div>
                <label for="Event-Starts">Starts:</label>
                <input id="Event-Starts" name="Event-Starts" type="datetime" value="@Model.Starts" required />
            </div>
            <div>
                <label for="Event-Ends">Ends:</label>
                <input id="Event-Ends" name="Event-Ends" type="datetime" value="@Model.Ends" required />
            </div>
            <div>
                <label for="Event-Image">Image:</label>
                <input id="Event-Image" name="Event-Image" type="text" value="@Model.Image" required />
            </div>
            <div>
                <label for="Event-Description">Description:</label>
                <input id="Event-Description" name="Event-Description" type="text" value="@Model.Description" required />
            </div>

            <div>
                <label for="Event-OrganiserName">OrganiserName:</label>
                <input id="Event-OrganiserName" name="Event-OrganiserName" type="text" value="@Model.OrganiserName" required />
            </div>
            <div>
                <label for="Event-OrganiserDescription">OrganiserDescription:</label>
                <input id="Event-OrganiserDescription" name="Event-OrganiserDescription" type="text" value="@Model.OrganiserDescription" required />
            </div>

            <div>
                <label for="Event-EventTopicId"> EventTopic Id:</label>
                <select id="Event-EventTopicId" name="Event-EventTopicId">
                    @foreach (var item in ViewBag.EventTopics)
                    {
                        <option value="@item.Id"
                                selected="@(item.Id == Model.EventTopicId ? true : false)">
                            @item.Name
                        </option>
                    }
                </select>
            </div>

            <div>
                <label for="Event-EventCategoryId"> EventCategory Id:</label>
                <select id="Event-EventCategoryId" name="Event-EventCategoryId">
                    @foreach (var item in ViewBag.EventCategorys)
                    {
                        <option value="@item.Id"
                                selected="@(item.Id == Model.EventCategoryId ? true : false)">
                            @item.Name
                        </option>
                    }
                </select>
            </div>



        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>