﻿html {
    width: 100%;
}


.tower {
    font-family: Verdana, sans-serif;
    width: 100%;
    background-color: rgba(249, 246, 244, 0.9);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.floor {
    width: 90%;
    opacity: 0.9;
    margin: 0 5% 0 5%;
    background-color: rgb(204,204,204); /* zilver */
}

.control-panel {
    display: flex;
    justify-content: flex-start;
    height: 11%;
    background-color: rgb(250,240,230); 
    padding: 0 1em 0 0;
}


a.tile {
    text-decoration: none;
}


.tile {
    /*background-color: lightcoral;*/
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block
}

.control-panel .tile {
    margin: 2px;
    padding: 4px 4px 0 4px;
    overflow: hidden;
    background-color: #3b444b; 
    font-size: 6.5vh;
    color: rgb(249,246,244); 
    align-self: center;
}

   
    .control-panel .tile:hover {
        color: rgb(226,69,16); 
        cursor: pointer;
    }

.control-panel .banner {
    margin-left: auto;
}

@media (orientation: portrait) {
    .show-room.index {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

        .show-room.index > .tile {
            height: 10em;
            width: 98%;
        }

        .show-room.index .tile:nth-child(3) {
            order: 8;
        }

        .show-room.index .tile:nth-child(4) {
            order: 9;
        }

        .show-room.index .tile:nth-child(7) {
            order: 10;
        }
}

@media (orientation: landscape) {
    .show-room.index {
        height: 89%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

      
}

.show-room.index {
    width: 100%;
}


.show-room.entity {
    display: flex;
    
    background-color: rgb(250,235,215)  ;
    flex-basis :75% ;
    
}
    .show-room.entity .list {
        display: flex;
       
        min-height: 40em;
        background-color: rgb(240, 234, 214); /* eggshell */
    }

    .show-room.index .tile {
        margin: 0.5em 1%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-basis: 23%;
        height: 11em;
        background-color: rgb(195,94,77);
        overflow: hidden;
        text-shadow: 2px 1px #0c0c0c;
    }

        .show-room.index .tile:nth-child(3) {
            flex-basis: 48%;
        }

        .show-room.index .tile:last-child {
            margin-bottom: 0.5em;
        }

    .show-room.index a.tile {
        background-color: rgb(222, 184, 135);
    }

        .show-room.index a.tile:hover {
            color: rgb(249,246,244); 
            background-color: rgb(65,74,76); 
        }

.show-room.index .tile [class^="fas"] {
    font-size: 10vh;
}


.screen-reader-text {
   color:black; 

    position: absolute;
    top: -9999px;
    left: -9999px;
}
.show-room.entity .command-panel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 2 1 2em;
    padding: 0 0.5em 0 0.5em;
    background-color: rgb(222, 184, 135);
}
    .show-room.entity .command-panel .tile {
        margin: 0 2px 0 0;
        padding: 4px 4px 4px 4px;
        background-color: #3b444b; /*arsenic*/
        color: rgb(249,246,244); /* orange red peach spring wood */
    }
.command-panel .banner {
    display: flex;
    width: 100%;
    margin-right: auto;
}

.show-room.entity .command-panel .tile [class^="fas"] {
    font-size: 8vh;
}

.show-room.entity .command-panel a.tile:hover {
    color: rgb(226,69,16); /* realgar */
    cursor: pointer;
}

.show-room.entity .detail fieldset {
    flex: 2 1 2em;
    min-height: 40em;
}

.show-room.entity .detail .feedback {
    flex: 2 1 2em;
    background-color: rgb(195,94,77);
    min-height: 2em;
}

.show-room.entity .detail  {
    flex: 2 1 2em;
    min-height: 40em;
}

.reading {
    background-color: rgb(250,240,230);
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}