﻿

@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <h1 class="banner">Fricfrac</h1>
</nav>

<section id="show-room">


    <p>Hier komt de Eventkalender</p>


</section>


@*@{
        ViewData["Title"] = "Home Page  gg";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        c
    </div>*@